html, body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #226622;
  background-image: url(bg.png);
}

.nyangcat {
  width: 256px;
  height: 256px;
  background-image: url(nyancat.jpg);
}